header{
  padding-bottom: 56px;
}
header div.header-top p{
  display: block;
  padding: 12px 0;
  font-size: 14px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: var(--grey);
  color: var(--dark);
}
header div.hero-banner{
  background-image: url(/assets/img/image-jordan-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding-top: 92px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  gap:40px
}
div.hero-content p:nth-child(1){
  color: var(--white);
  font-size: 18px;
  padding-bottom: 40px;
}
div.hero-content>p{
  display: flex;
  gap: 8px;
}
div.hero-content h1{
  font-size: 24px;
  padding-bottom: 12px;
  color: var(--white);
  font-weight: 500;
}
div.hero-content p{
  color: var(--white);
  line-height: 1.25;
}
@media(min-width:48rem){/*768px*/
  header div.header-top p{
    font-size: 16px;
  }
  header div.hero-banner{
    background-image: url(/assets/img/image-jordan-tablet.png);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  div.hero-content p{
    font-size: 18px;
    width: 400px;
  }
}
@media(min-width:64rem){/*1024px*/
  header div.header-top p{
    font-size: 24px;
    padding: 20px 0;
  }
  header div.hero-banner{
    background-image: url(/assets/img/image-jordan-desktop.png);
    padding-top: 95px;
    padding-bottom: 95px;
  }
  div.hero-content p:nth-child(1){
    font-size: 24px;
  }
  div.hero-content>p{
    align-items: center;
  }
  div.hero-content p img{
    width: 48px;
    height: 48px; 
  }
  div.hero-content h1{
    font-size: 32px;
    padding-bottom: 20px;
  }
  div.hero-content p{
    font-size: 24px;
    width: 520px;
  }
}